* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.title {
  font: 700 1rem var(--body-font);
  color: var(--purple-bg);
}

h1.title {
  font-size: 2.25rem;
}

h2.title {
  font-size: 1.5rem;
}

:root {

  /* colors */
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --button-bg-t: #9f6dc264;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;

  /* fonts */
  --title-font: 'Poppins', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

@media screen and (min-width: 1025px) {
  .swiper {
    width: 300px;
  }
}