#header {
  background: var(--purple-bg);
  padding: 2rem;
  border-bottom: 6px solid var(--green);
}

#header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#header .inputSearch input {
  display: none;
}

#header nav img {
  width: 10rem;
}

#header nav .menu {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  z-index: -1;
  top: -20rem;

  transition: 0.2s;
}

#header .icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.5rem;
}

#header .icon {
  height: 2.25rem;
  width: 2.25rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .icon-search {
  background: var(--button-bg-t);
  opacity: 0.7;
  color: var(--white);

  border-radius: 4px;
}

#header .toggle {
  color: var(--button-bg);
}

/* ---- MENU MOBILE ATIVO ---- */

#header nav.show ul {
  display: grid;
  gap: 4rem;  
}

#header nav.show .menu {
  display: grid;
  place-content: center;

  opacity: 1;
  visibility: visible;

  background: var(--purple-bg);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

#header nav ul li {
  text-align: center;
}

#header nav ul li a {
  color: var(--white);
  font-size: 1.5rem;
  transition: color 0.2s;
  position: relative;
}

#header nav ul li a:hover {
  color: var(--button-bg);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--green);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

#header nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 2.25rem;
  top: -1.5rem;
  z-index: -1;

  transition: 0.2s;
}

#header nav.show .icon-close {
  visibility: visible;
  opacity: 1;

  position: absolute;
  top: 2rem;
  z-index: 11;
}

/* ---- CONTEÚDO PRINCIPAL ---- */

#header .mainHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#header .mainHeader h1 {
  font: 700 2.25rem var(--title-font);
  color: var(--button-bg);
}

#header .mainHeader p {
  font: 400 1.125rem var(--body-font);
  color: var(--white);
  display: flex;
}

#header .mainHeader a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  font: 700 1.125rem var(--body-font);
  color: var(--button-bg);
}

#header .mainHeader img {
  width: 1.5rem;
}

#header .mainHeader div {
  margin-bottom: 3.25rem;
}

#header .showImg {
  display: none;
}

@media screen and (min-width: 1025px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header nav {
    margin-bottom: 4rem;
    width: 73.125rem;
  }

  #header nav .menu {
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 0;
    top: auto;
  }

  #header nav ul {
    display: flex;
    gap: 2rem;
  }

  #header nav .icon-menu {
    display: none;
  }

  #header .inputSearch {
    display: flex;
  }

  #header .inputSearch input {
    display: block;
    width: 14.37rem;
    background: var(--dark-bg);
    color: var(--white);
    border: none;
    padding: 0 1.5rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  #header input:focus {
    outline: 0;
  }

  #header .inputSearch .icon-search {
    width: 4.5rem;
    background: var(--button-bg);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }

  #header .showImg {
    display: block;
    width: 36.6rem;
  }

  #header section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 73.125rem;
  }

  #header .mainHeader {
    width: 35.62rem;
  }
}